.about-page-wrapper {
    min-height: calc(100vh - 80px);
    width: 100%;
    background: transparent;
    position: relative;
}

.about-form {
    padding: 40px;
    margin: 65px auto;
    width: 520px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    
    border-radius: 24px;
    border: 2px solid #f7f7f7;
    background: var(--Base-White, #FFF);
    background: var(--Base-White, color(display-p3 1 1 1));
    position: relative;
    z-index: 1;
}

.about-title {
    white-space: pre;
    color: var(--Base-Black, #050505);
    color: var(--Base-Black, color(display-p3 0.0205 0.0205 0.0205));
    font-family: Satoshi;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.about-content {
    color: var(--Gray-Main, #868686);
    color: var(--Gray-Main, color(display-p3 0.5274 0.5274 0.5274));
    font-family: 'Satoshi', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 200% */
    letter-spacing: 0.28px;
}

.about-item {
    width: -webkit-fill-available;
    padding: 24px;
    border-radius: 12px;
    border: 2px solid #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.about-item-title {
    display: flex;
    align-items: center;
    gap: 8px;

    color: var(--Base-Black, #050505);
    color: var(--Base-Black, color(display-p3 0.0205 0.0205 0.0205));
    font-family: 'Satoshi', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
}

.about-item-section {
    width: 100%;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.know-more {
    margin-top: 16px;
    color: var(--Base-Black, #050505);
    color: var(--Base-Black, color(display-p3 0.0205 0.0205 0.0205));
    font-family: 'Satoshi', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.about-item-line {
    display: block;
    width: auto;
    height: 1px;
    background: #EAECF0;
    background: color(display-p3 0.9176 0.9255 0.9412);
}