.token-section {
    display: flex;
    align-items: center;
    gap: 16px;
}

.vote-button-section {
    padding-top: 16px;
    display: flex;
    align-items: center;
    gap: 24px;
}

.downvote-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    padding: 10px;
    width: 100%;
    color: #B42318;
    font-weight: 700;
    font-family: Satoshi;
    border-radius: 12px;
    border: 4px solid #FFF;
    border: 4px solid color(display-p3 1 1 1);
    background: linear-gradient(180deg, #F4F4F4 0%, #FEFEFE 100%);
    background: linear-gradient(180deg, color(display-p3 0.9569 0.9569 0.9569) 0%, color(display-p3 0.9961 0.9961 0.9961) 100%);
    box-shadow: 0px 0px 0.386px 1.158px rgba(0, 0, 0, 0.05), 0px 4.634px 5.02px -2.317px rgba(0, 0, 0, 0.10);
    box-shadow: 0px 0px 0.386px 1.158px color(display-p3 0 0 0 / 0.05), 0px 4.634px 5.02px -2.317px color(display-p3 0 0 0 / 0.10);
}

.upvote-button {
    color: #067647;
}

.settle-button-container {
    display: flex;
    justify-content: center;
    padding-top: 16px;
}

.settle-button {
    width: 280px !important;
    max-width: 280px;
    color: #067647;
    font-weight: 700;
    font-family: Satoshi;
}

.settle-dispute-button {
    width: 300px !important;
    max-width: 100%;
    margin: 0 auto;
}
