.filter-dropdown-menu {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
    list-style-type: none;
    padding: 0px 8px 4px 4px;
    width: max-content;
}
